Options -Indexes
DirectoryIndex index.html
AddType application/manifest+json .webmanifest
<IfModule mod_headers.c>
  <Files "sw.js">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
  </Files>
</IfModule>
